<h1>Welcome to the Users Page</h1>
<% @users.each do |user| %>
	<ul>
		<li><%= link_to user.first_name, user %></li>
		<li><%= link_to user.last_name, user %></li>
		<li><%= link_to image_tag(user.profile_pic), user %></li>
		<li><%= user.description %></li>

	    <% if current_user.admin %>
	      <%= button_to "Edit", edit_user_path(user), :method => :get %>
	      <%= button_to "Delete", user, :method => :delete %>
	    <% end %>
	</ul>
<% end %>

