<div class="container">
    <div>
			<%if current_user.admin %>
				<h1>Welcome, Admin</h1>
			<% else %>
				<h1>Welcome to the Community</h1>
			<% end %>
    </div>
    <div class="line"></div>
    <div class="row">
      <% @users.each do |user| %>
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-7">
              <a href='/users/<%= user.id %>'><img src="<%= user.profile_pic %>" class="indexUserImg" ></a>
            </div>
            <div class="col-md-5">
              <ul>
                <li class="userFirst"><%= link_to user.first_name, user %></li>
                <li class="userCity"><%= user.current_city %></li>
                <% if current_user.admin %>
                  <div class="row">
                    <div class="col-sm-6">
                      <%= button_to "Edit", edit_user_path(user), :method => :get, class: "btn" %>
                    </div>
                    <div class="col-sm-6">
                      <%= button_to "Delete", user, :method => :delete, class: "btn" %>
                    </div>
                  </div>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
      <% end %>
    </div>
</div>
