<div>Welcome, <%= @user.first_name %>, <%= @user.last_name %></div>
  <div>Current city: <%= @user.current_city %></div>
  <div>Join date: <%= @user.created_at %></div>
  <img src="<%= @user.profile_pic %>"></div>

<%= button_to "Edit", edit_user_path(@user), :method => :get %>
<%= button_to "Delete", @user, :method => :delete %>

  <% @user.venues.each do |v| %>
  <ul>
  	<li>
  		<%= v.name %>
  	</li>
  	<li>
  		<%= v.city %>
  	</li>
  </ul>
  <% end %>


