<div class="container">
  <div class="row">
    <div class="col-sm-4">
    Welcome, <%= @user.first_name %> <%= @user.last_name %>!
    </div>
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
      <%= form_tag "/venues", :method => 'get' do %>
      <div class="row">
        <div class="form-group searchButton">
            <div class="col-sm-6"><%= text_field_tag :search, params[:search], class: "form-control" %></div>
            <div class="col-sm-6"><%= submit_tag "Search", :name => nil, class: "btn btn-default" %></div>
        </div>
      </div>
      <% end %>
  </div>
  <div class="row" id="user_info">
    <div class="col-sm-4">
      <img src="<%= @user.profile_pic %>" alt="user profile pic">
    </div>
    <div class="col-sm-4">
      <ul>
          <li>Current city: <%= @user.current_city %></li>
          <li>Join date: <%= @user.created_at.localtime.strftime('%a %b %d, %Y %I:%M%p') %></li>
          <li>Age: <%= @user.age %></li>
          <li>Email: <%= @user.email %></li>
        </ul>
    </div>
      <div class="col-sm-4">
      </div>
  </div>

  <div class="row" id="buttons">
    <div class="col-sm-1"></div>
    <% if current_user == @user || @user.admin %>
    <div class="col-sm-1"><%= button_to "Edit", edit_user_path(@user), :method => :get %></div>
    <div class="col-sm-1"><%= button_to "Delete", @user, :method => :delete %></div>
    <% end %>
  </div>
  <div class="row">
    <div class="col-sm-12" id="user_description">Description: <%= @user.description %></div>
  </div>


  <ul class="nav nav-tabs">
  <li role="presentation" class="active"><a href="#">Map</a></li>
  <li role="presentation"><a href="#">Venues</a></li>
  <li role="presentation"><a href="#">Followers</a></li>
</ul>
  <div class="row" id="show_information">
    <div class="col-sm-4">
      <h3>Venues</h3>
      <div>
    <% @user.venues.each do |v| %>
    <ul>
<<<<<<< HEAD
      <li>
        <%= link_to v.name, "/venues/#{v.id}"  %>
      </li>
      <li>
        <%= link_to v.city, "/venues/#{v.id}" %>
      </li>
      <li><%= link_to image_tag(v.profile_pic), "/venues/#{v.id}" %></li>
=======
      <li><%= link_to image_tag(v.profile_pic), "/venues/#{v.id}" %></li>
      <li><%= link_to v.name, "/venues/#{v.id}" %></li>
      <li><%= v.city %></li>
>>>>>>> 7f4a848f1e9fcb1f0b9609afcaa0e6bdb2e27116
    </ul>
  <% end %>
  </div>
<<<<<<< HEAD
    </div>
  </div>
</div>
=======
    </div>
    </div>
  </div>
>>>>>>> 7f4a848f1e9fcb1f0b9609afcaa0e6bdb2e27116
</div>