<div>Welcome, <%= @user.first_name %>, <%= @user.last_name %></div>
  <div>Current city: <%= @user.current_city %></div>
  <div>Join date: <%= @user.created_at %></div>
  <img src="<%= @user.profile_pic %>"></div>

  <% @user.venues.each do |v| %>
  <ul>
  	<li>
  		<%= v.name %>
  	</li>
  	<li>
  		<%= v.city %>
  	</li>
  </ul>
  <% end %>

  