<!-- Add photos of us, link to GitHub and emails, then send to emilio -->

<div class="container">
  <div class="row">
    <div class="col-sm-4 mic"></div>
    <div class="col-sm-4"><%= image_tag("mic.jpeg", :alt => "mic") %></div>
  <div class="col-sm-4"></div>
  </div>
  <div class="row">
    <div class="col-sm-3">
    </div>
    <div class="col-sm-6">
    <h2>About Us</h2>
      <p>Hi, we're Open Mic, a startup devoted to connecting musicians and audiences with the best live performance venues. Our website allows users to create a profile, add venue reviews, and follow other music lovers in order to have the most up-to-date, accurate information about venues. All venue genres are represented, from music to comedy to live poetry readings. To start exploring the world of live venues, simply create a profile and start connecting to fellow performance fans today.


      </p>
    </div>
    <div class="col-sm-3">
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3"><%= image_tag("kabah.jpeg", :alt => "featured venue") %></div>
    <div class="col-sm-3"><%= image_tag("min.jpg", :alt => "featured venue") %></div>
    <div class="col-sm-3"><%= image_tag("emilio.jpg", :alt => "featured venue") %></div>
    <div class="col-sm-3"><%= image_tag("camila.jpg", :alt => "featured venue") %></div>
  </div>
  <div class="row">
    <div class="col-sm-12"><h2>Founders</h2></div>
    <div class="col-sm-3">
      <h4>Kabah Conda</h4>
      <ul>
        <li>kabah@gmail.com</li>
        <li><a href="https://github.com/kabah"></li>
      </ul>
    </div>
    <div class="col-sm-3">
      <h4>Min Kim</h4>
      <ul>
        <li>min@gmail.com</li>
        <li><a href="https://github.com/petenut"></li>
      </ul>
    </div>
    <div class="col-sm-3">
      <h4>Emilio Gomez</h4>
      <ul>
        <li>emilio@gmail.com</li>
        <li><a href="https://github.com/emiliogomezlavin"></a>Github</li>
      </ul>
    </div>
    <div class="col-sm-3">
      <h4>Camila Crawford</h4>
      <ul>
        <li>camila@gmail.com</li>
        <li><a href="https://github.com/cfcrawford">Github</a></li>
      </ul>
    </div>
  </div>
  <div class="row short-page"></div>
</div>