<h1>Venues</h1>

<%= form_tag "/venues", :method => 'get' do %>
<p>
  <%= text_field_tag :search, params[:search]%>
  <%= submit_tag "Search", :name => nil %>
  <p>
    <% end %>

<div class="map"></div>



<% @venues.each do |venue| %>
	<ul>
		<li><%= link_to image_tag(venue.profile_pic), venue %></li>
		<li><%= venue.name %></li>
		<li><%= venue.city %></li>
	</ul>
<% end %>

<script type="text/javascript">
  var venues = [<%= raw @venues.to_json %>];
	allVenuesMap(venues)
</script>
