<h1>Venues</h1>
<div>
	<%= form_tag "/venues", :method => 'get' do %>
	    <%= text_field_tag :search, params[:search]%>
	    <%= submit_tag "Search", :name => nil %>
	<% end %>
</div>
<div>
	<% @venues.each do |venue| %>
		<ul>
			<li><%= link_to venue.name, venue %></li>
			<li><%= venue.city %></li>
			<li><%= link_to image_tag(venue.profile_pic), venue %></li>
		</ul>
	<% end %>
</div>