<div class="container">
  <div class="row"
    <div class="col-lg-12" id="map">
      <img src="<%= image_path("map3.jpg") %>">
    </div>
  </div>
    <div class="row" id="venues">

      <div class="col-lg-6" id="header-search" >
        <h1>Venues</h1>
      </div>

      <div class="col-lg-6">
        <%= form_tag "/venues", :method => 'get' do %>
        <p>
        <%= text_field_tag :search, params[:search]%>
        <%= submit_tag "Search", :name => nil %>
        <p>
        <% end %>
      </div>

    </div>

    <div class="row">
      <% @venues.each do |venue| %>
        <div class="col-md-6">
          <ul>
            <li><%= link_to image_tag(venue.profile_pic), venue %></li>
            <li><%= venue.name %></li>
            <li><%= venue.city %></li>
          </ul>
        </div>
      <% end %>
  </div>

</div>
