<h1> <%= @venue.name %></h1>

<ul>
  <li> <%= @venue.street_one %></li>
  <li> <%= @venue.street_two %></li>
  <li> <%= @venue.city %></li>
  <li> <%= @venue.state %></li>
  <li> <%= @venue.zipcode %></li>
  <li> <%= @venue.phone_number %></li>
  <li> <%= @venue.email %></li>
  <li> <%= @venue.description %></li>
  <li> <%= @venue.profile_pic %></li>
</ul>
