<h1> <%= @venue.name %></h1>
<% if current_user != nil %>
<%= button_to "Save Venue", new_visit_path(@venue), :method => :post %>
<% end %>

<ul>
  <li> <%= @venue.street_one %></li>
  <li> <%= @venue.street_two %></li>
  <li> <%= @venue.city %></li>
  <li> <%= @venue.state %></li>
  <li> <%= @venue.zipcode %></li>
  <li> <%= @venue.phone_number %></li>
  <li> <%= @venue.email %></li>
  <li> <%= @venue.description %></li>
  <li> <%= @venue.profile_pic %></li>
</ul>

<%= button_to "Edit", edit_venue_path(@venue), :method => :get %>
<% if @current_user_id == @venue.admin_id %>
  <%= button_to "Delete", @venue, :method => :delete %>
<% end %>
<br>
<br>
<h4>Users</h4>
<% @venue.users.each do |u| %>
<ul>
  <li>
    <%= u.first_name + ' ' + u.last_name  %>
  </li>
<% end %>


