<h1> <%= @venue.name %></h1>
<% if current_user != nil %>
<%= button_to "Save Venue", new_visit_path(@venue), :method => :post %>
<% end %>

<ul>
  <li> <%= @venue.street_one %></li>
  <li> <%= @venue.street_two %></li>
  <li> <%= @venue.city %></li>
  <li> <%= @venue.state %></li>
  <li> <%= @venue.zipcode %></li>
  <li> <%= @venue.phone_number %></li>
  <li> <%= @venue.email %></li>
  <li> <%= @venue.description %></li>
  <li> <%= image_tag @venue.profile_pic %></li>
</ul>

<%= button_to "Edit", edit_venue_path(@venue), :method => :get %>
<% if @current_user_id == @venue.admin_id %>
  <%= button_to "Delete", @venue, :method => :delete %>
<% end %>
<br>

<h3>Comments</h3>
<hr>
<div>
  <p>Post Comment:</p>
  <form role="form" action="/venues/<%= @venue.id %>/comments" method="post">
    <div class="form-group">
      <textarea class="form-control" name="comment[comment]" rows="3"></textarea>
    </div>
    <button type="submit" class="btn btn-default">Post</button>
  </form>
</div>

<div class="comments">
  <% @comments.each do |c| %>
    <hr>
    <big><p><%= c.comment %></p></big>
    <h5>-<%= c.user.first_name %></h5>
    <h6 class="media-heading"><i class="fa fa-clock-o"></i> <%= c.created_at.localtime.strftime('%I:%M%p %a %b %d, %Y') %></h6>
  <% end %>
</div>

<br>
<h3>Followers</h3>
<hr>
<% @venue.users.each do |u| %>
<ul>
  <li><%= link_to u.first_name, "/users/#{u.id}"  %></li>
  <li><%= link_to image_tag(u.profile_pic), "/users/#{u.id}" %></li>
<% end %>


