<!DOCTYPE html>
<html>
<head>
<!-- Latest compiled and minified CSS -->
<%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
<%= javascript_include_tag "application", "data-turbolinks-track" => true %>

</head>
<body>
  <%= render "header" %>
  <%= yield %>
  <%= render "footer" %>
</body>
</html>

